@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    --primary-color: #634221; /* Cor primária (Marrom) */
    --secondary-color: yellow; /* Cor secundária (Amarelo) */
    --tertiary-color: #897e7c; /* Cor terciária (cinza médio) */
    --number-color: lightgray; /* Cor quarteária (cinza médio) */
    --bg-color: #fff; /* Cor de fundo (Branco) */
}

header {
    display: flex;
    width: 100%;
    height: 10rem;
    padding: 1%;
    background-color: var(--tertiary-color);
    text-align: center;
    color: var(--bg-color);
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
}

header div {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    max-width: 80vw;
    position: relative;
}

.textHeader {
    display: flex;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    justify-content: flex-end;
}

.lastnumberdisplay {
    display: flex;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 6rem;
    width: 20%;
    height: 20%;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
    margin: 5rem 0 4rem 0;
    height: calc(100vh - 15rem - 4rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardcentral {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    max-width: 80vw;
    height: min-content;
    border-radius: 0.8rem;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.group {
    flex: 1;
    margin: 0.2%;
    display: flex;
    text-align: center;
    font-size: 24px;
    padding: 0.2%;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    max-width: 20%;
    height: min-content;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.columnheader {
    display: flex;
    padding: 3%;
    font-size: 4rem;
    font-weight: 900;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    margin: 0.5%;
    width: 100%;
    height: min-content;
    justify-content: center;
    align-items: center;
}

.numbers {
    display: flex;
    padding: 2%;
    font-size: 3rem;
    font-weight: 200;
    background-color: var(--bg-color);
    color: var(--number-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: min-content;
    width: 49%;
    justify-content: center;
}

.finalnumber {
    display: flex;
    padding: 2%;
    font-size: 3rem;
    font-weight: 200;
    background-color: var(--bg-color);
    color: var(--number-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: min-content;
    width: 100%;
    justify-content: center;
}

button {
    display: flex;
    padding: 0.5%;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5%;
    flex-wrap: wrap;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: min-content;
    text-align: center;
    color: var(--bg-color);
    background-color: gray;
    padding: 0%;
    border-top: 1px solid var(--tertiary-color);
    justify-content:center;
}

.divRodada {
    width: 70%;
    height: min-content;
    color: var(--bg-color);
    background-color: var(--tertiary-color);
    padding: 0.5%;
}

.lRodada {
    display: flex;
    color: var(--bg-color);
    font-size: 2rem;
    font-weight: 900;
    justify-content: flex-start;
    text-transform: uppercase;
}

select {
    display: flex;
    font-size: 3rem;
    font-weight: 900;
    padding: 0.8%;
    width: 100%;
    max-width: 100%;
    color: var(--primary-color);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    margin-top: 0.5%;
    justify-content: flex-start;
    align-items: center;
}

select option {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

select option:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}
