@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    --primary-color: #634221; /* Cor primária (Marrom) */
    --secondary-color: yellow; /* Cor secundária (Amarelo) */
    --tertiary-color: #897e7c; /* Cor terciária (cinza médio) */
    --number-color: lightgray; /* Cor quarteária (cinza médio) */
    --bg-color: #fff; /* Cor de fundo (Branco) */
    --bg-top-bottom: #f1f1f1; /* Cor de fundo topo e rodapé (Branco) */
}

header {
    display: flex;
    width: 100%;
    height: 9vmax;
    padding: 1%;
    background-color: var(--bg-top-bottom);
    text-align: center;
    color: var(--bg-color);
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    max-width: 80vw;
    position: relative;
    height: 100%;
}

.textHeader {
    display: flex;
    font-size: 2.5vmax;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    justify-content: flex-end;
    /*background-color: tomato;*/
    width: 40%;
    text-align: right;
    line-height: 1;
}

.lastnumberdisplay {
    display: flex;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 5.5vmax;
    padding: 4%;
    width: 20%;
    height: 90%;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
}

.logoheader {
    position: absolute;
    left: 0%;
    height: 100%;
    width: auto;
    /* background-color: tomato; */
}

body {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
}
main {
    /*margin: 5rem 0 4rem 0;*/
    height: calc(100vh - 1rem - 0rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardcentral {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    max-width: 80vw;
    /*height: min-content;*/
    height: 70vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    /*background-color: tomato;*/
}

.group {
    flex: 1;
    margin: 0.2%;
    display: flex;
    text-align: center;
    /*font-size: 24px;*/
    padding: 0.2%;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    max-width: 20%;
    height: 70vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.columnheader {
    display: flex;
    padding: 0.5vmax;
    font-size: 3vmax;
    font-weight: 900;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    margin: 0.5%;
    width: 100%;
    height: min-content;
    justify-content: center;
    align-items: center;
}

.numbers {
    display: flex;
    padding: 0.5vmax;
    font-size: 3vmax;
    font-weight: 200;
    background-color: var(--bg-color);
    color: var(--number-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: min-content;
    width: 49%;
    justify-content: center;
}

.finalnumber {
    display: flex;
    padding: 0.5vmax;
    font-size: 3vmax;
    font-weight: 200;
    background-color: var(--bg-color);
    color: var(--number-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: min-content;
    width: 100%;
    justify-content: center;
}

button {
    display: flex;
    padding: 0.5%;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5%;
    flex-wrap: wrap;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: min-content;
    text-align: center;
    color: var(--bg-color);
    background-color: var(--bg-top-bottom);
    padding: 0%;
    justify-content:center;
}

.divRodada {
    width: 70%;
    height: min-content;
    color: var(--bg-color);
    padding: 0.5%;
}

.lRodada {
    display: flex;
    color: var(--primary-color);
    font-size: 2vmax;
    font-weight: 900;
    justify-content: flex-start;
    text-transform: uppercase;
}

select {
    display: flex;
    font-size: 2vmax;
    font-weight: 900;
    padding: 0.8%;
    width: 100%;
    max-width: 100%;
    color: var(--primary-color);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    margin-top: 0.5%;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid var(--primary-color);
}

select option {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

select option:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.headerPatronicio  {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0.5%;
    height: min-content;
    font-size: 2.5vmax;
    /*background-color: tomato;*/
    color: var(--primary-color);
    font-weight: 900;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.texto-rolante {
    animation: marquee 1s linear infinite;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    background-color: tomato;

}

.pat_names {
    align-items: center;
    justify-content: center;
    width: 90vw;
    font-size: 2.5vmax;
    columns: 60px 4;
}

.apoio {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    /* justify-content: center;
    width: 80vw;*/
    background-color: tomato;
    justify-content: center;
    align-items: center;
}

.apoio img {
    width: 200px;

}

@keyframes marquee {
    from { transform: translatey(100%); }
    to { transform: translatey(-100%); }
}

@media (max-width: 360px) {
    .cardcentral {
        max-width: 90vw;
        height: 80vh;
    }
    
    header div {
    max-width: 90vw;
    }

    header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10vmax;
    padding: 1%;
    background-color: var(--bg-top-bottom);
    text-align: center;
    color: var(--bg-color);
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    }
}